.player-card {
    width: 300px;
    margin:20px;
    padding:5px;
    background-color:#B0E0E6;
    border:.5px solid lightgray;
    border-radius:5px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.player-card > * {
    margin: 5px 0;
}